		<div class="link-panel">
			<a class="link" href="/{{ page.link|keys|first }}">{{ page.link|first }}</a>
		</div>

		</div>
	</div>

	<!-- Alert messages -->
	<div class="alert-messages d-none">{{ page.alerts|raw }}</div>

</div>
</body>
</html>