<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- inject:css -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
	<title>{{ page.title }}</title>
</head>

<body>
<div class="container main">
	<div class="row">
		<div class="col-12">
			<h1 class="title">{{ page.title }}</h1>
		</div>
	</div>

	<div class="loader" style="display: none;"></div>

	<div class="row">
		<div class="col-12">
			<div class="lang">
				<div class="en item">EN</div>
				<div class="ru item">RU</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">