@import "env.scss";

form {
  display: inline-block;
  margin-top: 1em;

  label {
	display: block;
	font-size: 100%;
	margin: 1em 3em;

	span {
	  display: inline-block;
	  width: 7em;
	  color: darken($color, 15%);
	}

	input {
	  padding-left: 0.5em;
	  vertical-align: top;
	  border: 1px solid lighten($color, 45%);
	  border-radius: 3px;
	  width: 60%;
	}

	input[type=file] {
	  border: 0;
	}

	.description {
	  font-size: 85%;
	  color: lighten($color, 10%);
	}

	.info {
	  font-size: 85%;
	  color: #b44040;
	  text-align: center;
	}

	.error {
	  border: 1px solid #b44040 !important;
	}
  }

  input[type=submit] {
	display: block;
	width: 100px;
  	margin: 1.5em auto 0;
  }
}

@media (max-width: 480px) {
  form {
	label {
	  input {
		width: 100%;
	  }

	  input[type=file] {
		width: 90%;
	  }
	}
  }
}