@import "env.scss";

.lang {
  display: inline-block;
  width: auto;
  float: right;
  border: 1px solid lighten($color, 40%);
  padding: 1px 7px;
  border-radius: 3px;

	.item {
	  display: inline-block;
	  padding: 0 3px;
	  font-size: 90%;
	  color: lighten($color, 20%);

	  &:hover {
		color: darken($color, 20%);;
		cursor: pointer;
	  }
	}
}