@import "env.scss";

body {
  font-size: 16px;
  color: darken($color, 20%);
}

.main {
  margin-top: 3em;

  .title {
    font-size: 120%;
    font-weight: bold;
    padding: 0 0 0.5em 0.25em;
    margin-bottom: 1em;
    border-bottom: 1px solid lighten($color, 50%);
  }

  .content {
    margin: 1em 0;
  }

  .link-panel {
    margin: 2.5em 0 1.5em 0;
    padding: 0.5em 0 0 0.25em;
    border-top: 1px solid lighten($color, 50%);

    .link {
      color: darken($color, 10%);
      text-decoration: underline;

      &:hover {
        color:$color, 10%;
      }
    }
  }
}

.alert {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 99;
}

@media (max-width: 480px) {
  .alert {
    font-size: 80%;
  }
}