@import "env.scss";

.content {
  .avatar {
    img {
      width: 100%;
      max-height: 200px;
      max-width: 200px;
      overflow: hidden;
      border: 1px solid #b0b7e1;
      border-radius: 3px;
      margin-left: 1em;
      padding: 2px;
    }
  }

  li {
    padding-bottom: 0.5em;
  }
}