@@include('../../build/components/header.html')

<div class="content">
	<div class="row">
		<div class="col-3">
			<div class="avatar">
				<img src='data:image/jpeg;base64, {{ page.data.photo|raw }}' />
			</div>
		</div>
		<div class="col-9">
			<ul>
			{% for item in page.data %}
				{% if item|length < 1024 %}
				<li>{{ item }}</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

@@include('../../build/components/footer.html')